# Python & Virtual Environments
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables & local databases
.env
db.sqlite3

# Media & static uploads
media/

# IDE & Editor artifacts
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS artifacts
.DS_Store
Thumbs.db
